<p style="color: green"></p>

<h1>List of All Characters</h1>
<% if @characters.length > 0  %>
  <div id="characters">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Name</th>
        <th scope="col">Vocation</th>
        <th scope="col">Level</th>
        <th scope="col">Race</th>
        <th scope="col">Residence</th>
        <th scope="col">Created at</th>
        <th colspan="1"></th>
      </tr>
      </thead>
      <tbody>
        <% @characters.each do |character| %>
          <tr>
          <%= render character %>
          <td><%= link_to "Inspect", character, class:"btn btn-success btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No Character Found.</p>
<% end %>


