<p style="color: green"></p>

<h1>Character List</h1>
<% if @characters.length > 0  %>
  <div id="characters">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Name</th>
        <th scope="col">Vocation</th>
        <th scope="col">Level</th>
        <th scope="col">Race</th>
        <th scope="col">Residence</th>
        <th scope="col">Created at</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
        <% @characters.each do |character| %>
          <tr>
          <%= render character %>
          <td><%= link_to "Inspect", character, class:"btn btn-success btn-sm" %></td>
          <td><%= link_to "Edit", edit_character_path(character), class:"btn btn-danger btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>You don't have any character :(</p>
<% end %>


